{% extends 'base.html' %}

{% block content %}
    <h1>Add Ingredient</h1>
    <form method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        
        <label for="cost">Cost</label>
        <input type="number" step="0.01" id="cost" name="cost" required>
        
        <label for="purchase_date">Purchase Date</label>
        <input type="date" id="purchase_date" name="purchase_date" required>
        
        <label for="purchase_location">Purchase Location</label>
        <input type="text" id="purchase_location" name="purchase_location">
        
        <button type="submit">Add</button>
    </form>
{% endblock %}
